<%- include('head'); -%>
<style>
    .aggregate>span{
        margin-right:2px;
        font-size: 14px;
    }
    .aggregate{
        position:absolute;
        top:20px;
        width:800px;
    }

</style>
<!--<a class="btn btn-success" href="/member/inputNum">新建会员</a>-->

<div class="aggregate">
    <span class="label label-warning">
        总计余额 <%= aggregate.currentMoney %>
    </span>

    <span class="label label-danger">
        总计消费 <%= aggregate.expenseMoney %>
    </span>
    <span class="label label-success">
        总收入 <%= aggregate.currentMoney + aggregate.currentMoney %>
    </span>

    <span class="label label-success">
        人数 <%= aggregate.memberCount %>
    </span>

    <div id="dateRange" class="btn-group btn-group-xs" role="group">
        <button type="button" id="dateRange0" class="btn btn-default">全部</button>
        <button type="button" id="dateRange1" class="btn btn-default">今天</button>
        <button type="button" id="dateRange2" class="btn btn-default">本周</button>
        <button type="button" id="dateRange3" class="btn btn-default">本月</button>
    </div>
</div>





<!--<nav>-->
    <!--<ul class="pagination pagination-sm">-->
        <!--<li><a href="#">全部</a></li>-->
        <!--<li><a href="#">本日</a></li>-->
        <!--<li><a href="#">本周</a></li>-->
        <!--<li><a href="#">本月</a></li>-->
    <!--</ul>-->
<!--</nav>-->

<table data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true" data-toggle="table" data-sort-name="createDate" data-sort-order="desc" class="table-condensed table-striped " data-url='getMembers' data-row-style="rowStyle" data-cache="false" data-height="640">
    <thead>
    <tr>
        <th  data-field="memberNum" data-sorter="sortFunc" data-sortable="true" >会员卡号</th>
        <th  data-field="name" data-sortable="true">姓名</th>
        <th  data-field="sex" data-align="center" data-formatter="sexFormatter">性别</th>
        <th  data-field="createDate" data-formatter="dateFormatter" data-sortable="true" >开卡日期</th>
        <th  data-field="expirationDate" data-formatter="dateFormatter" data-sortable="true" >会员到期</th>
        <th  data-field="cardStatus" data-formatter="statusFormatter" data-sortable="true" >卡状态</th>
        <th  data-field="currentMoney" data-sortable="true" >卡余额</th>
        <th  data-field="expenseMoney" data-sortable="true" >累积消费</th>
        <th  data-field="shopName" data-sortable="true" >办卡分店</th>
        <th  data-field="operator" data-align="center" data-sortable="true" >操作员</th>
    </tr>
    </thead>
    <script>

        Date.prototype.format = function (fmt) { //author: meizz
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        };


        function sortFunc(a, b) {
            if (a>b) {
                return 1;
            } if (a<b) {
                return -1;
            } else {
                return 0;
            }
        }

        function sexFormatter(value) {
            return value==1?'男' : '女'
        }

        function dateFormatter(value, row) {
            if (value) {
                var date = new Date(value);
                return date.format('yyyy-MM-dd');
            }
        }

        function statusFormatter(value) {
            return value===1 ? '已激活' : '未激活'
        }

//        $('#refresh').click(function () {
//            $table.bootstrapTable('refresh', {
//                url: 'getMembers'
//            });
//        });
    </script>
</table>

<script>

    $("#dateRange>button").click(function(event) {
        var url = 'getMembers?dateRange=' + event.srcElement.id;
        console.log(url);
        $("table").bootstrapTable('refresh', {
            url: url
        });

        $.get('statistics?dateRange=' + event.srcElement.id, function(data) {
            console.log(data);
            var elements = $(".aggregate>span");
            elements[0].innerText = '总计余额 ' + (data.currentMoney || 0);
            elements[1].innerText = '总计消费 ' + (data.expenseMoney || 0);
            elements[2].innerText = '总收入 '   + ((data.currentMoney + data.currentMoney) || 0);
            elements[3].innerText = '人数' + (data.memberCount || 0);
        });
    });

</script>

<%- include('footer'); -%>
