<%- include('head'); -%>


<style>
    #tableDiv{
        height: 90%;
        overflow: auto;
        position: relative;
        border-radius: 8px;
        background-color: #FFF;
        border:solid 2px #808080;
    }

    #memberTable{
        width: 1000px;
    }

    /*#tableDiv {*/
        /*height: 500px;*/
    /*}*/
</style>
<!--<a class="btn btn-success" href="/member/inputNum">新建会员</a>-->
<div id="tableDiv">
    <table id="memberTable" class="table table-striped table-condensed table-responsive table-bordered table-hover">
        <caption > <%= title %> </caption>
        <thead>
        <tr>
            <th>会员卡号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>开卡日期</th>
            <th>会员到期</th>
            <th>卡状态</th>
            <th>卡余额</th>
            <th>累积消费</th>
            <th>办卡分店</th>
            <th>操作员</th>

        </tr>
        </thead>
        <tbody>
        <% memberList.forEach(function(member){ %>
        <tr>
            <td> <%= member.memberNum %> </td>
            <td> <%= member.name %> </td>
            <td>
                <% if(member.sex == 1) {%>
                    <%= '男' %>
                <% } else {%>
                    <%= '女' %>
                <% }%>
            </td>
            <td>
                <% if (member.createDate) {%>
                    <%= member.createDate.format("yyyy-MM-dd")%>
                <%}%>
            </td>

            <td>
                <% if (member.expirationDate) {%>
                    <%= member.expirationDate.format("yyyy-MM-dd")%>
                <%}%>
            </td>

            <td>
                <% if(member.cardType===1) { %>
                    <%= '激活'%>
                <%} else {%>
                    <%= '未激活'%>
                <%}%>
            </td>

            <td><%= member.currentMoney %></td>
            <td><%= member.expenseMoney %></td>
            <td><%= member.shopName %></td>
            <td><%= member.operator %></td>

        </tr>
        <% }); %>
        </tbody>
    </table>
</div>

<%- include('footer'); -%>
